h1 {
    color: maroon;
    text-align: center;
}
   
table {
    border-spacing: 25px;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

.navbar {
    text-align: center;
} 
    
.titlepicture {
    display: block;
    height: 475px;
    width: 475px;
    margin: 0 auto;
    margin-bottom: 100px;
}

tablepicture {
    display: block;
    height: auto;
    width: auto;
    max-height: 350;
    max-width: 350;
    
}

.container {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px 20px;
}