h1 {
    color: maroon;
    text-align: center;
}
   
table {
    border-spacing: 25px;
    margin: 0 auto;    
}

p.tablepictures {
    display: block;
    height: 300px;
    width: 300px;
    text-align: center;
        
}

.navbar {
    text-align: center;
} 
    
.tablepictures {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.container {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px 20px;
}