h1 {
    color: maroon;
    text-align: center;
}
     
.Titlepic {
    position: relative;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.navbar {
    text-align: center;
} 
    
.container {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px 20px;
}